@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #323232;
  font-size: 15px;
  transition: 0.3s linear;
}
body section {
  padding: 50px 0;
}
body .roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
body .roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}
body .roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
body .roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}
body .roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body .roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}
body .roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body .roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}
body .roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body .roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}
body .roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
body .roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

h2 {
  font-size: 34px;
}

.dark {
  background-color: black;
  color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

.container {
  max-width: 1200px;
}

button {
  cursor: pointer;
}

header .topbar {
  background-color: #f5f5f6;
  display: none;
  transition: 0.3s linear;
}
@media (min-width: 992px) {
  header .topbar {
    display: block;
  }
}
header .topbar .container .top-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}
header .topbar .container .top-div .top-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .topbar .container .top-div .top-left .logo {
  width: 27px;
  height: 28px;
  margin-right: 15px;
}
header .topbar .container .top-div .top-left .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .topbar .container .top-div .top-left .top-menu {
  display: flex;
}
header .topbar .container .top-div .top-left .top-menu li a {
  padding: 0 10px;
  font-size: 13px;
}
header .topbar .container .top-div .top-right {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 14px -10px rgba(0, 0, 0, 0.3);
}
header .topbar .container .top-div .top-right .personal,
header .topbar .container .top-div .top-right .business {
  border-radius: 5px;
  height: 35px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
header .topbar .container .top-div .top-right .personal {
  color: #ff7a00;
  border: 1px solid #ff7a00;
  font-weight: 600;
}
header .topbar .container .top-div .top-right .business {
  font-weight: 400;
  background-color: #fff;
  margin-right: 10px;
  color: #323232;
}
header .topbar .container .top-div .top-right .dark-mode-icon {
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #323232;
  color: #fff;
  margin-right: 10px;
}
header .topbar .container .top-div .top-right .lang {
  padding: 10px 8px;
  background-color: #fff;
  border-radius: 5px;
  color: #323232;
  margin-right: 10px;
  line-height: 12px;
  font-weight: bold;
}
header .topbar .container .top-div .top-right .search-icon {
  background-color: #fff;
  padding: 9px 12px;
  color: #323232;
  border-radius: 5px;
}
header .mobile-topbar {
  background-color: #f5f5f6;
  display: block;
}
@media (min-width: 992px) {
  header .mobile-topbar {
    display: none;
  }
}
header .mobile-topbar .container .mobile-topbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
header .mobile-topbar .container .mobile-topbar-menu .mobile-customer {
  display: flex;
  font-size: 12px;
}
header .mobile-topbar .container .mobile-topbar-menu .mobile-customer .personal {
  position: relative;
  font-weight: bold;
}
header .mobile-topbar .container .mobile-topbar-menu .mobile-customer .personal::before {
  content: "";
  position: absolute;
  top: -12px;
  right: 0;
  z-index: 1;
  height: 4px;
  width: 100%;
  background-color: #ff6b00;
}
header .mobile-topbar .container .mobile-topbar-menu .mobile-customer .business {
  padding: 0 15px;
}
header .mobile-topbar .container .mobile-topbar-menu .mobile-topbar-icon {
  display: flex;
}
header .mobile-topbar .container .mobile-topbar-menu .mobile-topbar-icon select {
  border: none;
  margin: 0 15px;
  background-color: transparent;
  font-size: 14px;
}
header .mobile-topbar .container .mobile-topbar-menu .mobile-topbar-icon select option {
  font-size: 14px;
  padding: 0 10px;
}
header .nav .container .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
header .nav .container .nav-menu .mobile-menu {
  display: block;
}
@media (min-width: 992px) {
  header .nav .container .nav-menu .mobile-menu {
    display: none;
  }
}
header .nav .container .nav-menu .mobile-menu .btn-mobile-close {
  font-weight: bold;
  padding: 5px 10px;
  border: none;
}
header .nav .container .nav-menu .mobile-menu button {
  padding: 0;
  margin: 0;
}
header .nav .container .nav-menu .mobile-menu .mobile-menu-bar {
  background-color: #f5f5f6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav .container .nav-menu .mobile-menu .offcanvas {
  height: 100vh;
  text-align: center;
}
header .nav .container .nav-menu .mobile-menu .offcanvas .mobile-services li {
  padding: 5px 0;
}
header .nav .container .nav-menu .mobile-menu .offcanvas .mobile-services li a {
  font-size: 18px;
  font-weight: bold;
}
header .nav .container .nav-menu .mobile-menu .offcanvas .mobile-top-menu li {
  padding: 10px;
}
header .nav .container .nav-menu .mobile-menu .offcanvas .mobile-top-menu li a {
  font-size: 13px;
}
header .nav .container .nav-menu .mobile-menu .offcanvas .mobile-top-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav .container .nav-menu .mobile-menu .offcanvas .mobile-top-right .dark-mode-icon {
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #323232;
  color: #fff;
  margin-right: 10px;
}
header .nav .container .nav-menu .mobile-menu .offcanvas .mobile-top-right .lang {
  padding: 10px 8px;
  background-color: #fff;
  border-radius: 5px;
  color: #323232;
  margin-right: 10px;
  line-height: 12px;
  font-weight: bold;
}
header .nav .container .nav-menu .mobile-menu .offcanvas .mobile-top-right .search-icon {
  background-color: #fff;
  padding: 9px 12px;
  color: #323232;
  border-radius: 5px;
}
header .nav .container .nav-menu .menu-services {
  display: none;
}
@media (min-width: 992px) {
  header .nav .container .nav-menu .menu-services {
    display: block;
  }
}
header .nav .container .nav-menu .menu-services .services {
  display: flex;
}
header .nav .container .nav-menu .menu-services .services li {
  padding-right: 30px;
}
header .nav .container .nav-menu .menu-services .services li a {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
header .nav .container .nav-menu .logo {
  width: 35px;
  height: 35px;
  margin-right: 15px;
  display: block;
}
@media (min-width: 992px) {
  header .nav .container .nav-menu .logo {
    display: none;
  }
}
header .nav .container .nav-menu .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .nav .container .nav-menu .hot-call {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #f5f5f6;
  border: none;
}
@media (min-width: 992px) {
  header .nav .container .nav-menu .hot-call {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.295);
  }
}
header .nav .container .nav-menu .hot-call i {
  color: #ff7a00;
}
header .nav .container .nav-menu .hot-call span {
  color: #323232;
  font-weight: bold;
  letter-spacing: -2px;
}

.container .footer-menu {
  padding-top: 55px;
}
.container .footer-menu .footer-main-menu {
  display: none;
}
@media (min-width: 992px) {
  .container .footer-menu .footer-main-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    visibility: visible;
    position: static;
    left: auto;
  }
}
.container .footer-menu .footer-main-menu li a {
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.container .footer-menu .footer-main-menu li .footer-submenu {
  padding-top: 17px;
}
.container .footer-menu .footer-main-menu li .footer-submenu li a {
  font-size: 12px;
  line-height: 35px;
  font-weight: normal;
  cursor: pointer;
}
.container .footer-menu .footer-smm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0 0px;
}
@media (min-width: 992px) {
  .container .footer-menu .footer-smm {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.container .footer-menu .footer-smm .smm-icon {
  display: flex;
  text-align: center;
}
.container .footer-menu .footer-smm .smm-icon li {
  margin: 0 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .footer-menu .footer-smm .smm-icon li a {
  color: #fff;
  font-size: 12px;
}
.container .footer-menu .footer-smm .smm-icon li:nth-child(1), .container .footer-menu .footer-smm .smm-icon li:nth-child(2) {
  background-color: #ff6b00;
}
.container .footer-menu .footer-smm .unibank-politics {
  text-align: center;
  margin-bottom: 0;
}
.container .footer-menu .footer-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  padding: 30px 0;
}
@media (min-width: 992px) {
  .container .footer-menu .footer-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
.container .footer-menu .footer-more .footer-liscense {
  padding-top: 25px;
}
@media (min-width: 992px) {
  .container .footer-menu .footer-more .footer-liscense {
    padding-top: 0px;
  }
}
.container .footer-menu .footer-more .footer-liscense h4, .container .footer-menu .footer-more .footer-liscense p {
  font-size: 12px;
  text-align: center;
}
@media (min-width: 992px) {
  .container .footer-menu .footer-more .footer-liscense h4, .container .footer-menu .footer-more .footer-liscense p {
    text-align: left;
  }
}
.container .footer-menu .footer-more .footer-image {
  display: flex;
}
.container .footer-menu .footer-more .footer-image div {
  overflow: hidden;
  margin: 0 20px;
  width: 60px;
  height: 45px;
}
.container .footer-menu .footer-more .footer-image div img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-swiper {
  padding: 0px;
}
.slider-swiper .container .swiper {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.slider-swiper .container .swiper .swiper-wrapper {
  padding: 0 0 40px;
}
.slider-swiper .container .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  background-color: #ff6b00;
  height: 80vh;
  border-radius: 10px;
}
@media (min-width: 992px) {
  .slider-swiper .container .swiper .swiper-wrapper .swiper-slide {
    flex-direction: row;
  }
}
.slider-swiper .container .swiper .swiper-wrapper .swiper-slide .slider-img {
  padding: 0px 30px;
  height: 200px;
}
@media (min-width: 992px) {
  .slider-swiper .container .swiper .swiper-wrapper .swiper-slide .slider-img {
    width: 50%;
    height: 100%;
  }
}
.slider-swiper .container .swiper .swiper-wrapper .swiper-slide .slider-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-swiper .container .swiper .swiper-wrapper .swiper-slide .slider-content {
  width: 100%;
  text-align: center;
  padding: 50px 0px;
}
@media (min-width: 992px) {
  .slider-swiper .container .swiper .swiper-wrapper .swiper-slide .slider-content {
    text-align: left;
    width: 50%;
    padding: 50px 25px;
  }
}
.slider-swiper .container .swiper .swiper-wrapper .swiper-slide .slider-content h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .slider-swiper .container .swiper .swiper-wrapper .swiper-slide .slider-content h2 {
    font-size: 40px;
  }
}
.slider-swiper .container .swiper .swiper-wrapper .swiper-slide .slider-content p {
  padding: 0px 0 30px;
  font-size: 11px;
}
@media (min-width: 992px) {
  .slider-swiper .container .swiper .swiper-wrapper .swiper-slide .slider-content p {
    font-size: 15px;
    padding: 20px 0 30px;
  }
}
.slider-swiper .container .swiper .swiper-wrapper .swiper-slide .slider-content button {
  border: none;
  padding: 12px 30px;
  border-radius: 20px;
  color: #ff6b00;
  font-size: 15px;
  font-weight: bold;
}
.slider-swiper .container .swiper .swiper-wrapper .swiper-slide .slider-content button span {
  padding: 0 5px;
}
.slider-swiper .container .swiper .swiper-pagination span {
  background-color: #ff6b00;
}

.products {
  padding: 50px 0;
}
.products .container .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f6;
  border-radius: 10px;
  padding: 30px 20px;
}
.products .container .inner h2 {
  font-size: 20px;
}
.products .container .inner h3 {
  padding: 20px 0;
  text-align: center;
}
.products .container .inner h3 span {
  color: #ff6b00;
  font-size: 52px;
}
.products .container .inner h3 p {
  font-size: 14px;
  line-height: 30px;
}
.products .container .inner button {
  padding: 15px 45px;
  border-radius: 25px;
  border: none;
  background-color: #ff6b00;
  color: #fff;
  font-weight: bold;
}

.ucard {
  padding: 50px 0;
}
.ucard .container .ucard-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f6;
  border-radius: 10px;
}
@media (min-width: 992px) {
  .ucard .container .ucard-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.ucard .container .ucard-info .ucard-image {
  width: 45%;
  height: 400px;
  position: relative;
}
.ucard .container .ucard-info .ucard-image img {
  position: absolute;
  top: -95px;
  right: 0;
  height: 495px;
}
.ucard .container .ucard-info .ucard-content {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 992px) {
  .ucard .container .ucard-info .ucard-content {
    width: 50%;
  }
}
.ucard .container .ucard-info .ucard-content h2 {
  font-size: 28px;
  color: #ff6b00;
}
.ucard .container .ucard-info .ucard-content p {
  font-size: 14px;
  padding: 15px 0;
}
.ucard .container .ucard-info .ucard-content .ucard-btn {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .ucard .container .ucard-info .ucard-content .ucard-btn {
    display: flex;
    flex-direction: row;
  }
}
.ucard .container .ucard-info .ucard-content .ucard-btn button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  font-weight: bold;
  color: #545454;
  text-align: center;
}
.ucard .container .ucard-info .ucard-content .ucard-btn .ucard-btn-more {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0px;
}
@media (min-width: 992px) {
  .ucard .container .ucard-info .ucard-content .ucard-btn .ucard-btn-more {
    margin: 0 10px;
  }
}
.ucard .container .ucard-info .ucard-content .ucard-btn .ucard-btn-more .more-information {
  background-color: #ff6b00;
  border: 1px solid #ff6b00;
  color: #fff;
  width: 100%;
}
@media (min-width: 992px) {
  .ucard .container .ucard-info .ucard-content .ucard-btn .ucard-btn-more .more-information {
    width: auto;
  }
}
.ucard .container .ucard-info .ucard-content .ucard-btn .partner-personal {
  display: flex;
  padding: 10px 0;
}
.ucard .container .ucard-info .ucard-content .ucard-btn .partner-personal .personal-cabinet {
  margin-left: 10px;
  width: 50%;
}
@media (min-width: 992px) {
  .ucard .container .ucard-info .ucard-content .ucard-btn .partner-personal .personal-cabinet {
    width: auto;
  }
}
.ucard .container .ucard-info .ucard-content .ucard-btn .partner-personal .partnership {
  width: 50%;
}
.ucard .container .ucard-info .ucard-content .ucard-btn .partner-personal .partnership a {
  color: #545454;
}
@media (min-width: 992px) {
  .ucard .container .ucard-info .ucard-content .ucard-btn .partner-personal .partnership {
    width: auto;
  }
}

.ucard-download {
  padding: 50px 0;
}
.ucard-download .container .ucard-download-info {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f6;
  border-radius: 10px;
}
@media (min-width: 992px) {
  .ucard-download .container .ucard-download-info {
    display: flex;
    flex-direction: row;
  }
}
.ucard-download .container .ucard-download-info .ucard-download-content {
  padding: 20px 20px 0px;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 992px) {
  .ucard-download .container .ucard-download-info .ucard-download-content {
    padding: 0 20px 0px 70px;
    width: 50%;
  }
}
.ucard-download .container .ucard-download-info .ucard-download-content h2 {
  font-size: 20px;
  color: #ff6b00;
  font-weight: bold;
}
@media (min-width: 992px) {
  .ucard-download .container .ucard-download-info .ucard-download-content h2 {
    font-size: 28px;
  }
}
.ucard-download .container .ucard-download-info .ucard-download-content p {
  font-size: 12px;
  padding: 10px 0;
}
@media (min-width: 992px) {
  .ucard-download .container .ucard-download-info .ucard-download-content p {
    font-size: 15px;
  }
}
.ucard-download .container .ucard-download-info .ucard-download-content .ucard-download-store {
  display: flex;
  padding: 0px 0 10px;
}
@media (min-width: 992px) {
  .ucard-download .container .ucard-download-info .ucard-download-content .ucard-download-store {
    padding: 30px 0;
  }
}
.ucard-download .container .ucard-download-info .ucard-download-content .ucard-download-store .app-store {
  margin: 0 15px;
}
.ucard-download .container .ucard-download-info .ucard-download-content .ucard-download-more button {
  border: none;
  background-color: #ff6b00;
  color: #fff;
  padding: 13px 33px;
  border-radius: 25px;
  font-size: 13px;
  font-weight: bold;
}
.ucard-download .container .ucard-download-info .ucard-download-image {
  display: flex;
  justify-content: center;
}
@media (min-width: 992px) {
  .ucard-download .container .ucard-download-info .ucard-download-image {
    position: relative;
    height: 400px;
    width: 45%;
  }
}
@media (min-width: 992px) {
  .ucard-download .container .ucard-download-info .ucard-download-image img {
    position: absolute;
    top: -95px;
    right: 0;
    height: 495px;
  }
}

.exchange .container .exchange-info {
  background-color: #f5f5f6;
  padding: 40px 70px;
  border-radius: 10px;
}
.exchange .container .exchange-info .exchange-header h2 {
  font-size: 28px;
  color: #ff6b00;
  font-weight: bold;
}
.exchange .container .exchange-info .exchange-money {
  padding: 50px 0;
}
.exchange .container .exchange-info .exchange-money .exchange-time {
  font-size: 13px;
}
.exchange .container .exchange-info .exchange-money h2 {
  font-size: 18px;
}
.exchange .container .exchange-info .exchange-money .exchange-table .table th {
  font-weight: normal;
  font-size: 14px;
  border-bottom-color: #d6d9db;
}
.exchange .container .exchange-info .exchange-money .exchange-table .table td {
  border: none;
  font-weight: bold;
  font-size: 14px;
  color: #323232;
}
.exchange .container .exchange-info .exchange-money .exchange-table .table td i {
  font-size: 12px;
  padding: 0 10px;
}
.exchange .container .exchange-info .exchange-calculator {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 30px 30px;
  border-radius: 10px;
}
@media (min-width: 992px) {
  .exchange .container .exchange-info .exchange-calculator {
    flex-direction: row;
  }
}
.exchange .container .exchange-info .exchange-calculator .calculator-header h2 {
  font-size: 18px;
}
.exchange .container .exchange-info .exchange-calculator .calculator-header p {
  font-size: 12px;
}
.exchange .container .exchange-info .exchange-calculator .calculator-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 992px) {
  .exchange .container .exchange-info .exchange-calculator .calculator-area {
    flex-direction: row;
  }
}
.exchange .container .exchange-info .exchange-calculator .calculator-area .calculator-left,
.exchange .container .exchange-info .exchange-calculator .calculator-area .calculator-right {
  padding: 20px 20px;
  border: 1px solid rgba(50, 50, 50, 0.1);
  border-radius: 5px;
  width: 280px;
  display: flex;
  justify-content: space-between;
}
.exchange .container .exchange-info .exchange-calculator .calculator-area .calculator-left input,
.exchange .container .exchange-info .exchange-calculator .calculator-area .calculator-right input {
  border: none;
}
.exchange .container .exchange-info .exchange-calculator .calculator-area .calculator-left input:focus,
.exchange .container .exchange-info .exchange-calculator .calculator-area .calculator-right input:focus {
  outline: none;
}
.exchange .container .exchange-info .exchange-calculator .calculator-area .calculator-left select,
.exchange .container .exchange-info .exchange-calculator .calculator-area .calculator-right select {
  border: none;
}
.exchange .container .exchange-info .exchange-calculator .calculator-area .calculator-icon {
  color: #ff6b00;
  padding: 0 20px;
  font-size: 25px;
  visibility: hidden;
}
@media (min-width: 992px) {
  .exchange .container .exchange-info .exchange-calculator .calculator-area .calculator-icon {
    visibility: visible;
  }
}
.exchange .container .exchange-info .exchange-results {
  text-align: center;
}
.exchange .container .exchange-info .exchange-results h2 {
  text-align: center;
}
.exchange .container .exchange-info .exchange-results h3 {
  text-align: center;
  color: #ff6b00;
  font-weight: bold;
}

.news .container .news-cards .add-news {
  text-align: right;
  padding: 15px;
}
.news .container .news-cards .add-news i {
  color: #ff6b00;
  font-size: 30px;
  text-align: right;
}
.news .container .news-cards .inner {
  background-color: #f5f5f6;
  border-radius: 10px;
  padding: 30px;
  transition: 0.3s linear;
  cursor: pointer;
  height: 100%;
}
.news .container .news-cards .inner .news-header {
  font-size: 16px;
  font-weight: bold;
  color: #ff6b00;
  transition: 0.3s linear;
}
.news .container .news-cards .inner .news-text {
  font-size: 14px;
  font-weight: 200;
}
.news .container .news-cards .inner .news-date {
  font-size: 12px;
  line-height: 12px;
}
.news .container .news-cards .inner:hover {
  background-color: #ff6b00;
  color: #fff;
}
.news .container .news-cards .inner:hover .news-header {
  color: #fff;
}
.news .container .news-cards .common-news {
  text-align: center;
  padding: 30px 0 0;
}
.news .container .news-cards .common-news button {
  border-radius: 25px;
  background-color: #ff6400;
  padding: 17px 25px;
  border: none;
}
.news .container .news-cards .common-news button a {
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  font-weight: bold;
  width: 100%;
  height: 100%;
}
.news .container .news-cards .common-news .more {
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  font-weight: bold;
}

.atm .container .atm-contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 992px) {
  .atm .container .atm-contact {
    flex-direction: row;
  }
}
.atm .container .atm-contact .atm-adress {
  background-color: #f5f5f6;
  display: flex;
  justify-content: space-between;
  padding: 45px 65px;
  border-radius: 10px;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .atm .container .atm-contact .atm-adress {
    margin: 0 15px 0 0;
  }
}
.atm .container .atm-contact .atm-adress .atm-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.atm .container .atm-contact .atm-adress .atm-content h2 {
  font-size: 28px;
  color: #ff6b00;
  font-weight: bold;
}
.atm .container .atm-contact .atm-adress .atm-content p {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0;
}
.atm .container .atm-contact .atm-adress .atm-content button {
  padding: 15px 25px;
  border-radius: 25px;
  background-color: #ff6b00;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.atm .container .atm-contact .atm-adress .atm-image {
  position: relative;
  height: 250px;
  bottom: -45px;
  right: 0;
}
.atm .container .atm-contact .atm-adress .atm-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.atm .container .atm-contact .contact {
  background-color: #f5f5f6;
  border-radius: 10px;
  padding: 55px 65px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.atm .container .atm-contact .contact .contact-image {
  position: absolute;
  top: 0;
  right: 0;
}
.atm .container .atm-contact .contact h2 {
  font-size: 28px;
  color: #ff6b00;
  font-weight: bold;
}
.atm .container .atm-contact .contact p {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0;
}
.atm .container .atm-contact .contact button {
  padding: 15px 25px;
  border-radius: 25px;
  background-color: #ff6b00;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.news .container .news-cards .add-news #exampleModal .modal-header #exampleModalLabel {
  color: black;
}
.news .container .news-cards .add-news #exampleModal .modal-body .form {
  text-align: left;
  color: black;
}
.news .container .news-cards .add-news #exampleModal .modal-body .form .add-news-input {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.news .container .news-cards .add-news #exampleModal .modal-body .form .add-news-input input.empty {
  border: 2px solid red;
}
.news .container .news-cards .add-news #exampleModal .modal-body .form .add-news-input input:focus {
  outline: none;
}
.news .container .news-cards #news-page .inner {
  position: relative;
}
.news .container .news-cards #news-page .inner .news-text {
  padding-right: 35px;
}
.news .container .news-cards #news-page .inner .news-change {
  position: absolute;
  top: 30px;
  right: 20px;
}
.news .container .news-cards #news-page .inner .news-change .delete-news {
  padding: 10px 15px;
  color: red;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news .container .news-cards #news-page .inner .news-change .update-news {
  background-color: #fff;
  border-radius: 5px;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news .container .news-cards #news-page .inner .news-change .update-news #exampleModal2 .modal-body .form-update {
  text-align: left;
}
.news .container .news-cards #news-page .inner .news-change .update-news #exampleModal2 .modal-body .form-update .add-news-input {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.news .container .news-cards #news-page .inner .news-change .update-news #exampleModal2 .modal-body .form-update .add-news-input label {
  padding: 10px 0;
  font-size: 15px;
}
.news .container .news-cards #news-page .inner .news-change .update-news .btn i {
  color: green;
}

.credits .container .credit-head {
  padding-bottom: 15px;
}
.credits .container .credit-head h2 {
  color: #ff6b00;
  font-weight: bold;
}
.credits .container .credit-information .inner {
  background-color: #f5f5f6;
  padding: 30px 60px;
  border-radius: 10px;
  height: 100%;
}
.credits .container .credit-information .inner .icon {
  font-size: 50px;
  color: #ff6b00;
}
.credits .container .credit-information .inner h2 {
  font-size: 25px;
  font-weight: bold;
  color: black;
}
.credits .container .credit-information .inner .credit-more {
  padding: 20px 0;
}
.credits .container .credit-information .inner .credit-more .credit-order {
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
  background-color: #ff6b00;
  font-weight: bold;
  color: #fff;
}
.credits .container .credit-information .inner .credit-more .credit-order a {
  color: #fff;
}
.credits .container .credit-information .inner .credit-more .credit-order .long-arrow i {
  padding-left: 20px;
  font-size: 20px;
}
.credits .container .credit-information .inner .credit-more .more-information {
  padding: 10px 30px;
  border-radius: 25px;
  border: 1px solid rgba(128, 128, 128, 0.267);
  font-weight: bold;
  margin-left: 10px;
}
.credits .container .credit-more-information button {
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
  background-color: #ff6b00;
  font-weight: bold;
  color: #fff;
}
.credits .container .credit-more-information button i {
  padding-left: 20px;
  font-size: 20px;
}

.order {
  background-color: #f5f5f6;
}
.order .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.order .container .order-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 992px) {
  .order .container .order-page {
    max-width: 800px;
    min-width: 742px;
  }
}
.order .container .order-page .order-head {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  width: 100%;
}
.order .container .order-page .order-form {
  background-color: #fff;
  border-radius: 10px;
}
.order .container .order-page .order-form h2 {
  text-align: center;
  color: #ff6b00;
  padding: 30px 0;
  position: relative;
}
.order .container .order-page .order-form h2 .order-border {
  position: absolute;
  left: 46%;
  bottom: 5%;
  height: 3px;
  background-color: #ff6b00;
  width: 7%;
  text-align: center;
}
.order .container .order-page .order-form .credit-order .order-inputs {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 10px auto;
}
@media (min-width: 992px) {
  .order .container .order-page .order-form .credit-order .order-inputs {
    display: flex;
    flex-direction: row;
  }
}
.order .container .order-page .order-form .credit-order .order-inputs .order-input {
  display: flex;
  overflow: hidden;
  width: 100%;
  float: left;
  margin: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.267);
  padding: 15px 10px;
  border-radius: 5px;
  position: relative;
}
.order .container .order-page .order-form .credit-order .order-inputs .order-input.empty {
  border: 2px solid red;
}
.order .container .order-page .order-form .credit-order .order-inputs .order-input.valid {
  border: none;
}
@media (min-width: 992px) {
  .order .container .order-page .order-form .credit-order .order-inputs .order-input {
    width: 49%;
  }
}
.order .container .order-page .order-form .credit-order .order-inputs .order-input .order-img {
  width: 24px;
}
.order .container .order-page .order-form .credit-order .order-inputs .order-input .order-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.order .container .order-page .order-form .credit-order .order-inputs .order-input input {
  border: none;
  padding: 0 15px;
}
.order .container .order-page .order-form .credit-order .order-inputs .order-input input:focus {
  outline: none;
}
.order .container .order-page .order-form .credit-order .order-inputs .order-input .input-required {
  position: absolute;
  top: 0;
  right: 5px;
  color: red;
  font-weight: bold;
  font-size: 20px;
}
.order .container .order-page .order-form .credit-order .order-inputs #order-profit {
  width: 100%;
}
@media (min-width: 992px) {
  .order .container .order-page .order-form .credit-order .order-inputs #order-profit {
    width: 46%;
  }
}
.order .container .order-page .order-check {
  display: flex;
  margin: 10px auto;
  width: 85%;
}
.order .container .order-page .order-check input {
  margin: 10px 15px;
}
.order .container .order-page .order-check label {
  font-size: 12px;
}
.order .container .order-page .order-check label .input-required {
  color: red;
  font-weight: bold;
  font-size: 15px;
}
.order .container .order-page .order-submit {
  text-align: center;
  padding: 15px 0;
}
.order .container .order-page .order-submit button {
  padding: 10px 50px;
  background-color: #ff6b00;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
}

.partnership {
  padding-top: 0;
}
.partnership .container .partner-head h2 {
  color: #ff6b00;
  font-weight: bold;
}
.partnership .container.select {
  display: none;
}
.partnership .container .companies .companies-category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5f5f6;
  border-radius: 10px;
  padding: 30px;
}
.partnership .container .companies .companies-category .choose-category {
  padding: 15px;
}
.partnership .container .companies .companies-category .choose-category p {
  text-align: center;
}
.partnership .container .companies .companies-category .choose-category #category-names {
  padding: 15px 50px;
  width: 100%;
  border-radius: 30px;
  color: #ff6b00;
  font-weight: bold;
  border-color: rgba(0, 0, 0, 0.171);
}
.partnership .container .companies .companies-category .companies-filter {
  width: 80%;
}
.partnership .container .companies .companies-category .companies-filter p {
  font-size: 15px;
  text-align: center;
}
.partnership .container .companies .companies-category .companies-filter .filter {
  padding: 15px 50px;
  width: 100%;
  border-radius: 30px;
  color: #ff6b00;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.171);
}
.partnership .container .companies .companies-category .companies-filter input:focus {
  outline: none;
}
.partnership .container .companies #companies-cards {
  margin-top: 30px;
}
.partnership .container .companies #companies-cards .partner-card {
  height: 0px;
  margin: 5px;
}
.partnership .container .companies #companies-cards .partner-card.select {
  display: none;
}
@media (min-width: 992px) {
  .partnership .container .companies #companies-cards .partner-card {
    height: 520px;
  }
  .partnership .container .companies #companies-cards .partner-card .inner {
    background-color: #f5f5f6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 45px 50px;
    border-radius: 10px;
    height: 100%;
  }
  .partnership .container .companies #companies-cards .partner-card .inner .img {
    overflow: hidden;
    margin-bottom: 30px;
  }
  .partnership .container .companies #companies-cards .partner-card .inner .img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 50px;
  }
  .partnership .container .companies #companies-cards .partner-card .inner .company-name {
    font-size: 16px;
    color: black;
    margin-bottom: 0;
  }
  .partnership .container .companies #companies-cards .partner-card .inner .company-category {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.418);
  }
  .partnership .container .companies #companies-cards .partner-card .inner .credit-months {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
  }
  .partnership .container .companies #companies-cards .partner-card .inner .credit-months .month-text {
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.123);
    font-size: 12px;
  }
  .partnership .container .companies #companies-cards .partner-card .inner .credit-months .month-text .month-numb {
    color: black;
  }
  .partnership .container .companies #companies-cards .partner-card .inner .credit-months .month-text span {
    color: #ff6b00;
    font-weight: bold;
    font-size: 13px;
  }
  .partnership .container .companies #companies-cards .partner-card .inner .cashback {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }
  .partnership .container .companies #companies-cards .partner-card .inner .cashback .cashback-border {
    position: relative;
    z-index: 2;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 15px;
  }
  .partnership .container .companies #companies-cards .partner-card .inner .cashback .cashback-border p {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4px 10px;
    font-size: 12px;
    background-color: #f5f5f6;
  }
  .partnership .container .companies #companies-cards .partner-card .inner .cashback .cashback-percent {
    margin-top: 20px;
    background-color: #ff6b00;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .partnership .container .companies #companies-cards .partner-card .inner .cashback .cashback-percent .icon {
    display: flex;
  }
  .partnership .container .companies #companies-cards .partner-card .inner .cashback .cashback-percent .icon p {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    color: #ff6b00;
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
  }
  .partnership .container .companies #companies-cards .partner-card .inner .cashback .cashback-percent .icon span {
    padding: 0 5px;
    font-size: 12px;
  }
}

body.dark {
  background-color: black;
  color: #fff;
}
body.dark header .topbar {
  background-color: black;
}
body.dark header .topbar .top-menu li a {
  color: #fff;
}
body.dark header .topbar .top-right .personal,
body.dark header .topbar .top-right .business {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
body.dark header .topbar .top-right .business {
  color: #fff !important;
}
body.dark header .topbar .top-right .dark-mode-icon {
  background-color: #fff !important;
  color: black !important;
}
body.dark header .topbar .top-right .lang, body.dark header .topbar .top-right .search-icon {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff !important;
}
body.dark header .mobile-topbar {
  background-color: black;
}
body.dark header .nav .menu-services .services li a {
  color: #fff !important;
}
body.dark header .nav .hot-call {
  border-color: white !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}
body.dark header .nav .hot-call span {
  color: #fff !important;
}
body.dark header .nav .nav-menu .mobile-menu .mobile-menu-bar {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff;
}
body.dark header .nav .nav-menu .mobile-menu #offcanvasTop {
  background-color: black;
}
body.dark header .nav .nav-menu .mobile-menu #offcanvasTop .btn-mobile-close {
  color: #fff !important;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1) !important;
  padding: 5px 10px;
  border: none;
}
body.dark header .nav .nav-menu .mobile-menu #offcanvasTop .offcanvas-body .mobile-services li a, body.dark header .nav .nav-menu .mobile-menu #offcanvasTop .offcanvas-body .mobile-top-menu li a {
  color: #fff !important;
}
body.dark header .nav .nav-menu .mobile-menu #offcanvasTop .offcanvas-body .mobile-top-right .personal,
body.dark header .nav .nav-menu .mobile-menu #offcanvasTop .offcanvas-body .mobile-top-right .business {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
body.dark header .nav .nav-menu .mobile-menu #offcanvasTop .offcanvas-body .mobile-top-right .business {
  color: #fff !important;
}
body.dark header .nav .nav-menu .mobile-menu #offcanvasTop .offcanvas-body .mobile-top-right .dark-mode-icon {
  background-color: #fff !important;
  color: black !important;
}
body.dark header .nav .nav-menu .mobile-menu #offcanvasTop .offcanvas-body .mobile-top-right .lang, body.dark header .nav .nav-menu .mobile-menu #offcanvasTop .offcanvas-body .mobile-top-right .search-icon {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff !important;
}
body.dark main .swiper {
  background-color: black !important;
}
body.dark main .products .inner {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
body.dark main .ucard .ucard-info {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
body.dark main .ucard .ucard-info .personal-cabinet, body.dark main .ucard .ucard-info .partnership {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
body.dark main .ucard-download .ucard-download-info {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
body.dark main .ucard-download .ucard-download-info .ucard-download-store {
  filter: invert(100%);
}
body.dark main .exchange .exchange-info {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
body.dark main .exchange .exchange-info .exchange-calculator {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff;
}
body.dark main .exchange .exchange-info .exchange-calculator .calculator-left,
body.dark main .exchange .exchange-info .exchange-calculator .calculator-right {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff;
}
body.dark main .exchange .exchange-info .exchange-calculator .calculator-left input,
body.dark main .exchange .exchange-info .exchange-calculator .calculator-right input {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff;
}
body.dark main .exchange .exchange-info .exchange-calculator .calculator-left input select,
body.dark main .exchange .exchange-info .exchange-calculator .calculator-right input select {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
body.dark main .exchange .exchange-info .exchange-table {
  color: #fff;
}
body.dark main .exchange .exchange-info .exchange-table .table th {
  color: #fff;
}
body.dark main .exchange .exchange-info .exchange-table .table td {
  color: #fff !important;
}
body.dark main .news .news-cards .inner {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
body.dark main .atm .atm-adress, body.dark main .atm .contact {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
body.dark main .credits .container .credit-information .inner {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
body.dark main .credits .container .credit-information .inner h2 {
  color: #fff;
}
body.dark main .credits .container .credit-information .inner .credit-more .more-information {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-color: rgba(255, 255, 255, 0.4666666667);
  color: grey;
}
body.dark main .order-table .container table {
  color: #fff;
}
body.dark main .partnership .container .companies .companies-category {
  background-color: rgba(255, 255, 255, 0.1);
}
body.dark main .partnership .container .companies .companies-category #category-names {
  background-color: rgba(255, 255, 255, 0.1);
}
body.dark main .partnership .container .companies .companies-category .filter {
  background-color: rgba(255, 255, 255, 0.1);
}
body.dark main .partnership .container .companies .companies-category .filter::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7333333333);
}
body.dark main .partnership .container .companies .companies-category .filter::placeholder {
  color: rgba(255, 255, 255, 0.7333333333);
}
body.dark main .partnership .container .companies #companies-cards .partner-card .inner {
  background-color: rgba(255, 255, 255, 0.1);
}
body.dark main .partnership .container .companies #companies-cards .partner-card .inner .img {
  filter: invert(1) grayscale(1);
}
body.dark main .partnership .container .companies #companies-cards .partner-card .inner .company-name {
  color: #fff;
}
body.dark main .partnership .container .companies #companies-cards .partner-card .inner .company-category {
  color: #fff;
}
body.dark main .partnership .container .companies #companies-cards .partner-card .inner .credit-months .month-text {
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.301);
}
body.dark main .partnership .container .companies #companies-cards .partner-card .inner .credit-months .month-text .month-numb {
  color: #fff;
}
body.dark main .partnership .container .companies #companies-cards .partner-card .inner .cashback .cashback-border {
  background-color: rgba(255, 255, 255, 0.301);
}
body.dark main .partnership .container .companies #companies-cards .partner-card .inner .cashback .cashback-border p {
  background-color: black;
  padding: 0 5px;
}
body.dark footer .container .footer-menu .footer-main-menu li a {
  color: #fff !important;
}
body.dark footer .container .footer-menu .footer-main-menu li .footer-submenu li a {
  color: #fff;
}/*# sourceMappingURL=style.css.map */